body {
  margin: auto;
  text-align: center;
  width: 500px;
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font: 80px "Helvetica", serif;
}

.line-mask {
  stroke-dasharray: 500;
  animation: path 2s linear both;
}

@keyframes path {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.st0 {
  fill: none;
  stroke: #ccc;
  stroke-width: 10;
  stroke-miterlimit: 0;
  stroke-miterlimit: 3;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  // opacity: 0;
}
.st1 {
  fill: none;
  stroke: #ff6600;
  stroke-width: 12;
  stroke-miterlimit: 0;
  stroke-miterlimit: 3;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  // opacity: 0;
}
.Layer_1 {
  transform: translate3d(-4px, -3px, 0);
}

.st3 {
  stroke-width: 8;
  stroke: darkred;
  fill: none;
  stroke-miterlimit: 3;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
}
